@page
@model ZooBazaarWebApp.Pages.ConfirmationModel
@{
}

<section class="bg-white text-dark p-5 pt-lg-5 text-center text-sm-start" style="background-image: url('https://www.example.com/zoo-background.jpg'); background-size: cover; background-position: center;">
    <div class="container mt-5 pt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow p-4">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="~/img/zooPayment.jpg" alt="Cute Zoo Animal" class="img-fluid mb-4" style="max-height: 200px;">
                            <h2 class="card-title mb-4">Thank You for Your Purchase!</h2>
                            <h2 class="card-title mb-4">The print for your ticket will start downloading!</h2>
                            <p class="fs-5 mb-4">Your tickets have been purchased successfully.</p>
                            <a href="/" class="btn btn-primary btn-lg earth-yellow">Back to Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



