@page
@model ZooBazaarWebApp.Pages.AccessDeniedModel
@{
	ViewData["Title"] = "Access Denied";
}

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="text-center">
        <h1 class="">Access Denied</h1>
        <p class="fs-5">You are not authorized to access this page.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg earth-yellow" asp-page="/Index" role="button">Go to Homepage</a>
    </div>
</div>